body {
  background: #932421;
}

* {
  font-family: Arial;
}

.MainPage {
  max-width: 1260px;
  margin: 0px auto 0px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100vw;
  text-align: center;
}

.header-subtitle {
  font-family: Arial Black;
  font-size: 20px;
  color: #778a50;
}

.header-title {
  font-family: Arial Black;
  font-size: 30px;
  color: white;
}


nav {
  width: 100vw;
  height: 40px;
  background: #39734F;
  padding: 16px 0;
  margin-bottom: 20px;
}

nav img{
  margin: 0 0 0 30px;
  align-self: center;
  height: 30px;
}

.nav-logo {
  font-family: monospace;
  text-decoration: none;
  text-align: center;
  line-height:40px;
  font-size: 20px;
  color: black;

}

.nav-item {
  font-family: Arial Black;
  text-decoration: none;
  text-align: center;
  line-height:40px;
  font-size: 16px;
  color: black;
  margin: 0 30px;
  float: right;
}


.banner {
  width: 100vw;
  margin-bottom: 30px;
  border-radius: 3px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 940px;
  margin-bottom: 35px;
}

main .block {
  width: 445px;
}

main .block-title {
  font-family: Arial Black;
  font-size: 16px;
  padding: 15px 30px;
  margin-bottom: 15px;
  background: #778a50;
  color: #edf2c5;
  border-radius: 3px;
}

.img-list {
  display: flex;
  justify-content: space-between;
}

.img-list img {
  height: 140px;
  width: 140px;
}

.block-content {
  padding: 16px 15px;
  border-radius: 3px;
  background: #f7fbda;
}

.block-content-word {
  font-size: 12px;
  line-height: 1.33;
  margin: 0;
  color: #7d7d7d;
}

.block-content-contact {
  font-size: 12px;
  line-height: 1.83;
  margin: 0;
  color: #7d7d7d;
}

.block-divide {
  border-top: solid #7d7d7d 1px;
  margin: 16px 0;
}

footer {
  font-size: 12px;
  width: 100%;
  background: #778a50;
  color: #edf2c5;
  text-align: center;
  padding: 24px 0 25px 0;
}
